body {
  margin: 0;
  background-color: rgb(245, 245, 245);
}

button {
  flex-shrink: 0;
}

@keyframes hoveringEffect {
  0% {
    transform: rotate(90deg) translateX(-10%);
  }

  50% {
    transform: rotate(90deg) translateX(15%);
  }

  100% {
    transform: rotate(90deg) translateX(-10%);
  }
}
